<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
      <main>
        <div class="cart-main">
            <div class="cart-resume">
                <p class="cart-title">Resumen</p>
                <div class="cart-resume-info">
                    <div class="cart-subtotal">
                        <p>Subtotal</p>
                        <strong>$54,97</strong>
                    </div>
                    <div class="cart-shipment">
                        <p>Envio</p>
                        <strong>Gratis</strong>
                    </div>
                </div>
                <div class="cart-resume-total">
                    <div class="cart-total">
                        <p>Total</p>
                        <strong>$54,97</strong>
                    </div>
                    <button class="login-button" type="submit">Finalizar Compra</button>
                </div>
            </div>
            <div class="cart">
                <p class="cart-title">Mi Carrito</p>
                <article class="cart-product">
                    <img class="cart-product-image" src="/images/base-estee.jpg" alt="">
                    <div class="cart-product-info">
                        <strong>Base liquida estee lauder</strong>
                        <p >$18,99</p>
                        <div class="cart-product-buttons">
                            <button class="cart-product-button">-</button>
                            <p class="cart-product-quantity">1</p>
                            <button class="cart-product-button">+</button>
                        </div>
                    </div>
                </article>
                <article class="cart-product">
                    <img class="cart-product-image" src="/images/maybelline-lash.webp" alt="">
                    <div class="cart-product-info">
                        <strong>Lash sensational máscara de pestañas sky high</strong>
                        <p >$10,99</p>
                        <div class="cart-product-buttons">
                            <button class="cart-product-button">-</button>
                            <p class="cart-product-quantity">1</p>
                            <button class="cart-product-button">+</button>
                        </div>
                    </div>
                </article>
                <article class="cart-product">
                    <img class="cart-product-image" src="/images/chanel-labial.webp" alt="">
                    <div class="cart-product-info">
                        <strong>Labial rouge allure channel</strong>
                        <p >$24,99</p>
                        <div class="cart-product-buttons">
                            <button class="cart-product-button">-</button>
                            <p class="cart-product-quantity">1</p>
                            <button class="cart-product-button">+</button>
                        </div>
                    </div>
                </article>
            </div>
        </div>
      </main>
      <%- include('../partials/footer.ejs') %>
</body>
</html>