<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>

        <img
        class="banner-detail"
        src="/images/banner-maybelline.jpg"
        alt="banner-maybelline"
      />
      <div class="main-product-detail">
      <img
        class="img-detail"
        src="/images/maybelline-lash.webp"
        alt="maybelline-lash"
      />
      <div class="info-product-detail">
        <p class="product-detail">Lash sensational máscara de pestañas sky high Maybelline</p>
        <p class="price-detail">$10.99</p>
        <button class="product-addcar" type="button">
          Añadir al carrito<em class="fa-solid fa-cart-shopping"></em>
        </button>
        <p class="p-detail">
          Máscara de pestañas de volumen y alargamiento Sky High para un impacto
          espectacular en las pestañas desde todos los ángulos. La máscara de
          pestañas de larga duración ofrece un volumen completo y una longitud
          ilimitada.
        </p>
      </div>
      </div>
      
      
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
