*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', 'Sans serif';
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: white
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
}
/*-------------------HEADER---------------*/
header{
    background-color: #9a0526;
    height: 120px;
    margin-bottom: 20px;
}
.logo-session{
    display:flex;
    justify-content: space-between;
}
.burguer-menu{
    text-align: center;
    color: white;
    font-size: 25px;
    margin: auto;
    margin-left: 0px;
    margin-right: 10px;
}
.cart-icon{
    text-align: center;
    color: white;
    font-size: 25px;
    margin: auto;
    margin-left: 0px;
    margin-right: 10px;
}
.logo{
    width: 120px;
    margin: auto;
    margin-top: 10px; 
}
.search{
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top: 10px;
    position: relative;
    max-width: 200px;
}
.input-search{
    height: 30px;
}
input{
    font-size: 18px;
    border: solid 1px #666;
    border-radius: 5px;
    padding-left: 5px;
}
.search-button{
    border: solid 1px white;
    background-color: white;
    position: absolute;
    right: 0.1%;
    top: 15%
}
.fa-magnifying-glass{
    color:#9a0526;
}
.session-bar{
    display: none;
}
.page{
    display: none;
}
/*-------------------/HEADER---------------*/

/*-------------------MAIN LOGIN---------------*/
main{
    width: 70%;
    margin:auto;
    margin-top: 0px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.login-form{
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
}
.login-title{
    color: #ffffff;
    margin: 10px 0px;
}
.login-input{
    margin: 15px 0px;
    width: 260px;
    align-self: center;
    height: 35px;
    border: solid 2px #cb7169;
    transition: 400ms;
}
.login-button{
    width: 200px;
    height: 35px;
    font-size: 16px;
    align-self: center;
    color: white;
    background-color: #cb7169;
    border: none;
    border-radius: 5px;
    transition: 400ms;
    margin-top: 10px;
}
.login-button:hover{
    background-color: #9a0526;
}
.remember-me{
    width: 260px;
    display: flex;
    margin-bottom: 10px;
    align-self: center;
}
.login-info{
    margin: 10px 0px;
    
}
/*-------------------/MAIN LOGIN---------------*/

/*-------------------MAIN HOME---------------*/
.price{
    display: block;
    color:white;
    background-color:#cb7169;
    border-radius: 5px;
    width: 100px;
    margin: auto;
    transition: 500ms;
}
.price:hover{
    background-color: #9a0526;
}
.home-button{
    background-color: #9a0526;
    border-radius: 5px;
    color: white;
    font-weight: 100;
    width: 100px;
    margin-bottom: 15px;
    text-align: center;
    margin-left: 90%;
}
.image-product{
    height: 200px;
    width: 100%;
    margin: auto;
}
h2{
    font-weight: bold;
    border-radius: 5px;
    color:black;
    font-size:25px;
    width: 230px;
    margin-bottom: 15px;
    padding: 5px 0px;
    

}
.home-product{
    margin: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 400ms;
}
.home-product:hover{
    box-shadow: 2px 2px 10px #cb7169;
}
.products-section{
    margin-bottom: 20px;
    border-bottom: #a19f9f solid 1px;

}
/*-------------------/MAIN HOME---------------*/

/*-------------------MAIN PRODUCT DETAIL---------------*/
.banner-detail{
     margin: auto;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 10px;
   
}
.img-detail{
  
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 5px;
    width: 200px;
    align-self: center;
}
.p-detail{
    margin: 30px;
    text-align: justify
}
.product-detail{
    text-align: center;
    margin: 10px;
    font-weight: bold;
}
.product-addcar{
    background-color: #9a0526;
    color: white;
    width: 150px;
    margin: auto;
    padding: 5px 0px;
    border-radius: 5px;
    border: none;
}
.price-detail{
    color: #cb7169;
    font-weight: bold;
}
/*-------------------/MAIN PRODUCT DETAIL---------------*/

/*------------------MAIN REGISTER---------------*/
.register-main{
    padding:10px;
    box-shadow: 2px 2px 10px #cb7169;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
}
.perfil-register{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    font-weight: bold;
    font-size: 16px;
}
.texto-register{
    font-weight: bold;
}

/*------------------/MAIN REGISTER---------------*/
/*------------------PRODUCT CART--------------*/
.cart-main{
    display: flex;
    flex-wrap: wrap;
}
.cart-resume{
    width: 100%;
}
.cart-resume-info{
    border-bottom: 1px solid #cb7169;
    margin-bottom: 10px;
    padding-bottom: 10px    ;
}
.cart-resume-total{
    border-bottom: 1px solid #cb7169;
    padding-bottom: 20px;
}
.cart-title{
    font-size: 21px;
    color: white;
    background-color: #9a0526;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 0px;
    max-width: 200px;
}
.cart-subtotal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cart-shipment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cart-total{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cart-product{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cb7169;
    height: 150px;
}
.cart-product-image{
    width: 40%;
}
.cart-product-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
}
.cart-product-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 0px;
    margin-bottom:0px;
    width: 100px
}
.cart-product-button{
    background-color: white;
    font-size: 20px;
    width: 30%;
    border: none;
    transition: 420ms;
}
.cart-product-button:hover{
    color: white;
    background-color: #cb7169;
    border-radius: 5px;
}
.cart-product-quantity{
    font-size: 18px;
    border-right: 1px solid #cb7169;
    border-left: 1px solid #cb7169;
    padding: 0px 10px;
}
/*------------------/PRODUCT CART---------------*/
/*-------------------FOOTER---------------*/
footer{
    background-color: #9a0526;
    height: 80px;
    color: white;
    margin-top: 20px;
}
.footer-bar{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
/*--------FOOTER---------------*/
@media(min-width: 500px){
    /*--------HEADER---------------*/
    .burguer-menu{
        display:none
    }
    .cart-icon{
        margin-top: 23px;
        margin-right: 0px;
    }
    .session-bar{
        display: flex;
    }
    .page{
        display: flex;
        width: 55%;
    }
    .page li{
        margin: auto;
    }
    .nav-bar{
        color: white;
        margin: auto;
        margin-top: 10px;
        display: flex;
    }
    .session-bar{
        color: white;
        margin: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin: 20px;
        margin-bottom: 0px;
    }

    .logo{
        margin-left: 20px;
    }
    /*--------/HEADER---------------*/
    .products-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .home-product{
        width: 40%;
    }
    main{
        width: 90%;
    }
    .home-button{
        margin-left: 80%;
    }
    .image-product{
        max-width: 211px;
    }
    .banner-detail{
       width: 80%;
    }
    .main-product-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;

    }
    .info-product-detail{
    width: 40%;
    }
    .img-detail{
    width: 40%;
    }
    /*--------PRODUCT CART---------------*/
    .cart-main{
        flex-direction: row-reverse;
        justify-content: space-around;
        max-width: 700px;
        margin:auto;
        margin-top: 0px;
    }
    .cart-resume{
        width: 45%;
        box-shadow: 2px 2px 10px #cb7169;
        padding: 0px 10px ;
        border-radius: 10px;
        max-height: 220px;
    }
    .cart{
        width: 45%;
        box-shadow: 2px 2px 10px #cb7169;
        padding: 0px 10px;
        border-radius: 10px;
    }
    .cart-title{
        max-width: 200px;
    }
    .cart-product-image{
        max-height: 120px;
    }
    .cart-resume-total{
        border-bottom: none;
    }
    /*--------/PRODUCT CART---------------*/
}

@media(min-width: 1000px) {
    .register-main{
        margin: 0px;
        max-width: none;
        width: 600px;
        align-self: center;
    }
    .home-product{
        width: 21%;
        display: flex;
        flex-direction: column;
    }
    .info-product-detail{
        max-width: 300px;
    }
    .img-detail{
        max-width: 300px;
        width: 120%;
        height: 140%;
        margin-right: 9%;
   
   
    }
    .banner-detail{
        max-width: 725px;
        width: 70%;
     
    }
    .main-product-detail{
        max-width: 725px;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 50px;
    
    }
    /*--------PRODUCT CART---------------*/
    .cart-main{
        max-width: 1200px;
        margin: 0px;
    }
    .cart{
        max-width: 300px;
    }
    .cart-resume{
        max-width: 300px;
        
    }
    /*--------/PRODUCT CART---------------*/
}