<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/styles.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Valentina Cosmetics</title>
  </head>
  <body>
    <header>
      <div class="logo-session">
        <img class="logo" src="./images/logo.png" alt="logo" />
        <a class="burguer-menu" href="#"
          ><em class="fa-solid fa-bars burguer-menu"></em
        ></a>
        <ul class="session-bar">
          <li><a href="">Iniciar sesión</a></li>
          <li><a href="">Registrarse</a></li>
        </ul>
      </div>
      <div class="nav-bar">
        <ul class="page">
          <li><a href="">Inicio</a></li>
          <li><a href="">Categorias</a></li>
          <li><a href="">Más vendidos</a></li>
          <li><a href="">Ofertas</a></li>
        </ul>
        <div class="search">
          <input class="input-search" type="text" placeholder="Buscar..." />
          <button class="search-button" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
    </header>
    <main>
      <h2>Nuevos productos</h2>
      <section class="products-section">
        <article class="home-product">
          <p>Lash sensational máscara de pestañas sky high</p>
          <img
            class="image-product"
            src="./images/lash-maybelline.png"
            alt="maybelline-lash"
          />
          <a class="price" href="#">$10.99 COMPRAR</a>
        </article>

        <article class="home-product">
          <p>Perfect blush too faced</p>
          <img class="image-product" src="./images/foofaced-blush.jpg" alt="toofaced-blush" />
          <a class="price" href="#">$8.99 COMPRAR</a>
        </article>

        <article class="home-product">
          <p>Base liquida ifallible l´oreal</p>
          <img
            class="image-product"
            src="./images/loreal-base.jpg"
            alt="base-loreal"
          />
          <a class="price" href="#">$25.99 COMPRAR</a>
        </article>

        <article class="home-product">
          <p>Polvo compacto doble uso divine L´bel</p>
          <img
            class="image-product"
            src="./images/lbel-polvocompacto.jpg"
            alt="polvo-loreal"
          />
          <a class="price" href="">$11.99 COMPRAR</a>
        </article>
      </section>
      <a class="home-button" href="#">Ver todos</a>

      <h2>Productos mas vendidos</h2>

      <section class="products-section">
        <article class="home-product">
          <p>Labial rouge allure channel</p>
          <img
            class="image-product"
            src="./images/chanel-labial.webp"
            alt="labial-chanel"
          />
          <a class="price" href="">$24.99 COMPRAR</a>
        </article>

        <article class="home-product">
          <p>Benetint benefit</p>
          <img class="image-product" src="./images/benefit-tint.jpg" alt="benefit-tint" />
          <a class="price" href="#">$4.99 COMPRAR</a>
        </article>

        <article class="home-product">
          <p>Corrector de ojeras too faced</p>
          <img
            class="image-product"
            src="./images/toofaced-corrector.png"
            alt="corrector-toofaced"
          />
          <a class="price" href="">$30.99 COMPRAR</a>
        </article>

        <article class="home-product">
          <p>Delineador liquido matte nyx</p>
          <img class="image-product" src="./images/foofaced-blush.jpg" alt="toofaced-blush" />
          <a class="price" href="#">$8.99 COMPRAR</a>
        </article>

      </section>
      <a class="home-button" href="#">Ver todos</a>

      <h2>Ofertas</h2>
      <section class="products-section">
        <article class="home-product">
          <p>Mate lip kit kylie jenner</p>
          <img
            class="image-product"
            src="./images/kylie-labial.png"
            alt="kit lip kylie"
          />
          <a class="price" href="">$12.99 COMPRAR</a>
        </article>

        <article class="home-product">
          <p>Base liquida estee lauder</p>
          <img
            class="image-product"
            src="./images/base-estee.jpg"
            alt="base-estee"
          />
          <a class="price" href="">$18.99 COMPRAR</a>
        </article>

        <article class="home-product">
          <p>Corrector esika pro</p>
          <img
            class="image-product"
            src="./images/esika-corrector.jpg"
            alt="corrector-esika"
          />
          <a class="price" href="">$8.99 COMPRAR</a>
        </article>
      </section>
      <a class="home-button" href="#">Ver todos</a>
    </main>
    <footer>
      <ul class="footer-bar">
        <li>Redes sociales</li>
        <li>Métodos de pago</li>
      </ul>
      <p style="text-align: center; margin-top: 10px">
        2023 - Valentina Cosmetics
      </p>
    </footer>
  </body>
</html>
