<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Iniciar sesión</title>
  </head>
  <body>
    <header>
      <img class="logo" src="./images/naruto.jpg" alt="naruto" />
      <ul class="session-bar">
        <li>Iniciar sesión</li>
        <li>Registrarse</li>
      </ul>
      <div class="search">
        <input type="text" placeholder="Buscar..." />
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <ul class="nav-bar">
        <li>Inicio</li>
        <li>Categorias</li>
        <li>Más vendidos</li>
        <li>Ofertas</li>
      </ul>

    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
