<footer>
    <ul class="footer-bar">
      <li>Redes sociales</li>
      <li>Métodos de pago</li>
    </ul>
    <p style="text-align: center; margin-top: 10px">
      2023 - Valentina Cosmetics
    </p>
  </footer>