<header>
    <div class="logo-session">
      <img class="logo" src="/images/logo.png" alt="logo" />
      <a class="cart-icon" href="/products/cart"
          ><em class="fa-solid fa-cart-shopping"></em
        ></a>
      <a class="burguer-menu" href="#"
        ><em class="fa-solid fa-bars burguer-menu"></em
      ></a>
      <ul class="session-bar">
        <li><a href="/users/login">Iniciar sesión</a></li>
        <li><a href="/users/register">Registrarse</a></li>
      </ul>
    </div>
    <div class="nav-bar">
      <ul class="page">
        <li><a href="/">Inicio</a></li>
        <li><a href="">Categorias</a></li>
        <li><a href="">Más vendidos</a></li>
        <li><a href="">Ofertas</a></li>
      </ul>
      <div class="search">
        <input class="input-search" type="text" placeholder="Buscar..." />
        <button class="search-button" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </header>